<div class="container pt-3">
  <div id="flash" class="d-none alert alert-info"></div>

  <div id="signup" class="row justify-content-center">
    <div class="col-7 col-md-6">
      <%= render 'intro' %>
    </div>

    <div class="col-5 col-md-6">
      <h5>Sign up for Leftover Dough</h5>

      <%= form_with model: @user, url: v1_users_path, local: true do |f| %>
        <div class="form-group">
          <label for="email">Your email address</label>
          <%= f.email_field :email, id: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
          or
          <%= link_to "Sign in", signin_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var search = window.location.search

  if (search && search.match(/msg=/)) {
    var msg = decodeURI(search.match(/msg=(.+)&?/)[1])
    var flash = document.querySelector("#flash")
    var signup = document.querySelector("#signup")

    flash.classList.remove('d-none')
    flash.textContent = msg
    signup.classList.add("d-none")
  }
}, false)
</script>