<div class="container pt-3">
  <div id="flash" class="d-none alert alert-info"></div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-7 order-2 order-md-1">
      <%= render 'intro' %>
    </div>

    <div class="col-12 col-md-5 order-1 order-md-2">
      <h5>Sign in to Leftover Dough</h5>

      <%= form_with url: signin_path, local: true do |f| %>
        <div class="form-group">
          <label for="email">Your email address</label>
          <%= f.email_field :email, id: "email", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign in", class: "btn btn-primary" %>
          or
          <%= link_to 'Sign up', signup_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var search = window.location.search

  if (search && search.match(/msg=/)) {
    var msg = decodeURI(search.match(/msg=(.+)&?/)[1])
    var flash = document.querySelector("#flash")

    flash.classList.remove('d-none')
    flash.textContent = msg
  }
}, false)
</script>