<!DOCTYPE html>
<html>
  <head>
    <title>Leftover Dough	&#127838;</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'leftoverdough' %>

    <%= javascript_pack_tag 'leftoverdough' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
