<!DOCTYPE html>
<html>
  <head>
    <title>Dailybread	&#127838; Know Your Dough</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'dailybread' %>

    <%= javascript_pack_tag 'dailybread' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
